* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

/*-------------------------------Variaveis Css ------------------------*/
:root {
    --cor-principal: rgba(44, 44, 44);
    --cor-navbar: rgba(44, 44, 44, 0.25);
    --cor-segundaria: #2f4f4e;
    --cor-de-destaque: #d9a530;
    --cor-fonte: #f9ebd7;
}

/*-------------------------------Inicio style Main ------------------------*/

body {
    background-color: var(--cor-segundaria);
}

/*-------------------------------Inicio style Navbar ------------------------*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    max-width: 100%;
    background-color: var(--cor-navbar);
    color: var(--cor-fonte);
}

.logo_nav {
    width: 142px;
    height: 82px;
    margin-left: 102px;
    margin-top: 1px;
}

.links_container {
    display: flex;
    align-items: center;
    font-weight: 100;
    gap: 25px;
    margin-right: 33px;
}

.links_nav {
    color: var(--cor-fonte);
    text-decoration: none;
    font-size: 20px;
}

.links_nav:hover {
    text-decoration: underline;
}

.icon_login_nav {
    width: 55px;
    height: 55px;
    margin-right: 33.5px;
    border-radius: 50%;
}

/*-------------------------------Inicio style Conteudo Principal ------------------------*/
.container_pai {
    width: 100%;
    height: 748px;
    background-image: url(../img/img-arealazer1.png);
    background-size: cover;
    background-position: center;
}

.campo_de_busca_conteudo_Principal{
    width: 960px;
    height: 149px;
    margin-left: 99px;
    background-color: var(--cor-fonte);
    color: var(--cor-principal);
    border-radius: 15px;
}


.texto_campo_de_busca{
    margin-top: 25px;
    margin-left: 53px;
    font-size: 20px;
}

.selecao_campo_de_busca{
        display: flex;
        margin-left: 23px;
        margin-top: 5px;
        text-align: center;
}
.icone_campo_de_busca{
    width: 30px;
    height: 30px;
    margin-left: 23px;
    margin-top: 5px;
}

.texto_perguta_campo_de_busca{
    font-size: 20px;
    margin-top: 8px;
}


.icon_divisão{
    margin-left: 15px;
    margin-right: 4px;
    font-size: 20px;
}

.botao_campo_de_busca{
    display: flex;
    justify-content: center;    
    width: 199px;
    height: 36px;
    border-radius: 50px;
    margin-left: 14px;
    color: var(--cor-fonte);
    background-color: var(--cor-segundaria);
}

.text_botao{
    text-align: center;
    font-size: 20px;
    margin-top: 7px;
    margin-left: 14px;
}

.icone_botão_campo_de_busca{
    width: 20px;
    height: 20px;
    margin-top: 7px;
    margin-right: 9px;

}


.botao_campo_de_busca:hover{
    background-color: #263f3e;
    cursor: pointer;
}


#conteudo_Principal {
    color: var(--cor-fonte);
    background-color: rgba(30, 30, 30, 0.43);
    margin-top: 185px;
}

#crystal-titulo {
    font-size: 20px;
    text-align: left;
    color: #fff;
}

#nomeDoHotel {
    font-size: 96px;
    color: #fff;
}

#localizacao {
    background-color: rgba(47, 79, 78, 0.61);
    width: 332px;
    height: 51px;
    margin: 0;
    border-radius: 50px;
    border: 1px solid #598B8A;
}

#cep {
    text-align: center;
    margin: 10px;
}

.descricao {
    font-size: 20px;
    text-align: left;
    color: var(--cor-fonte);
    margin: 70px 0 0 70px;
}

#subnavbar {
    text-align: center;
    margin-top: 100px;
}

#subnavbar a {
    text-decoration: none;
    color: var(--cor-fonte);
    margin: 0 25.5px;
    display: inline-block;
    transition: 0.5s;
}

#subnavbar a:hover {
    background-color: var(--cor-fonte);
    color: var(--cor-segundaria);
    padding: 10px;
    border-radius: 15px;
    transition: all 0.5s;
}

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.iframe-container iframe {
    max-width: 100%;
    border-radius: 45px;
    margin-bottom: 80px;
}

.destinos {
    background-color: #d4a137;
    padding: 20px;
    color: white;
    font-family: Arial, sans-serif;
    width: 1012px;
    height: 980px;
    border-radius: 65px;
    margin: 0 auto;
}

.tema {
    text-align: center;
    margin-bottom: 20px;
    font-size: 48px;
}

h4 {
    text-align: center;
    margin-bottom: 20px;
}

.lugares {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

}

.lugar {
    display: flex;
    text-align: left;
}

.topicos {
    text-align: left;
    margin-top: 50px;
}

.icon-destinos {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.km, .minutos {
    margin: 0;
}


hr {
    margin-top: 50px;
}

.fotos img {
    display: block;
    margin-bottom: 20px; /* Ajuste conforme necessário */
}

.fotos h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 92px;
    color: var(--cor-fonte);
}
