/*------------------------------- Reset ------------------------*/
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

/*------------------------------- Variáveis CSS ------------------------*/
:root {
    --cor-principal: rgba(44, 44, 44, 1);
    --cor-navbar: rgba(44, 44, 44, 0.25);
    --cor-segundaria: #2f4f4e;
    --cor-de-destaque: #d9a530;
    --cor-fonte: #f9ebd7;
}

/*------------------------------- Estilos Gerais ------------------------*/
body {
    background-color: var(--cor-segundaria);
}

/*------------------------------- Navbar ------------------------*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    max-width: 100%;
    background-color: var(--cor-navbar);
    color: var(--cor-fonte);
}

.logo_nav {
    width: 142px;
    height: 82px;
    margin-left: 102px;
    margin-top: 1px;
}

.links_container {
    display: flex;
    align-items: center;
    font-weight: 100;
    gap: 25px;
    margin-right: 33px;
}

/* Links de navegação (excluindo o ícone de login) */
.nav_links {
    display: flex;
    align-items: center;
    font-weight: 100;
    gap: 25px;
    flex-grow: 1;
}

/* Link individual da navegação */
.links_nav {
    color: var(--cor-fonte);
    text-decoration: none;
    font-size: 20px;
}

.links_nav {
    text-decoration: underline;
}

/* Ícone de login separado */
.icon_login {
    display: flex;
    align-items: center;
}

.icon_login_nav {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

/* Estilo do botão de hambúrguer */
.menu-hamburger {
    display: none;
    cursor: pointer;
}

.menu-hamburger img {
    width: 30px;
    height: 30px;
}

/* Estilo do menu hambúrguer (escondido por padrão) */
.menu-hamburger-content {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: var(--cor-navbar);
    padding: 10px;
    z-index: 100;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.menu-hamburger-content a {
    color: var(--cor-fonte);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s;
}

.menu-hamburger-content a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Mostrar o menu responsivo ao clicar */
.menu-hamburger-content.active {
    display: flex;
}

/*------------------------------- Conteúdo Principal ------------------------*/
.container_pai {
    width: 100%;
    height: 100vh;
    background-image: url(../img/Plano_de_Fundo.png);
    background-size: cover;
    background-position: center;
    }
    
    #conteudo_Principal {
    color: var(--cor-fonte);
    background-color: rgba(30, 30, 30, 0.43);
    margin-top: 39vh;
    padding: 20px;
    }


#nomeDoHotel {
    font-size: 96px;
    color: #fff;
}

#localizacao {
    background-color: rgba(47, 79, 78, 0.61);
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid #598B8A;
    margin-top: 10px;
    width: fit-content;
}

#cep {
    text-align: center;
}

.descricao {
    font-size: 20px;
    margin: 70px 20px;
    text-align: left;
    color: var(--cor-fonte);
}

#subnavbar {
    text-align: center;
    margin-top: 100px;
}

#subnavbar a {
    color: var(--cor-fonte);
    margin: 0 25.5px;
    display: inline-block;
    transition: 0.5s;
}

#subnavbar a:hover {
    background-color: var(--cor-fonte);
    color: var(--cor-segundaria);
    padding: 10px;
    border-radius: 15px;
}

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 20px;
}

.iframe-container iframe {
    width: 84%;
    height: 400px;
    border-radius: 45px;
}

.destinos {
    background-color: var(--cor-de-destaque);
    padding: 20px;
    color: var(--cor-fonte);
    max-width: 1200px;
    margin: 20px auto;
    border-radius: 65px;
}

.tema {
    text-align: center;
    margin-bottom: 20px;
    font-size: 48px;
}

h4 {
    text-align: center;
    margin-bottom: 20px;
}

.lugares {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.lugar {
    display: flex;
    align-items: center;
}

.topicos {
    margin-top: 50px;
    text-align: left;
}

.icon-destinos {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.km,
.minutos {
    margin: 0;
}

hr {
    margin-top: 50px;
}

.fotos {
    text-align: center;
}

.fotos h1 {
    margin-top: 100px;
    font-size: 92px;
    color: var(--cor-fonte);
}

.imagem-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
    padding: 20px;
}

.imagem-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.container,
.container-servicos {
    background-color: #F5E9D7;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1103px;
    margin: 20px auto;
}

.container-servicos {
    height: auto;
}

.servicos {
    text-align: center;
}

.servicos h1 {
    font-size: 48px;
    margin-bottom: 30px;
    color: #355248;
}

.categorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
}

.categoria {
    flex: 1;
    margin: 20px;
}

.categoria h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #355248;
}

.categoria ul {
    list-style: none;
}

.categoria ul li {
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: #355248;
}

.icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 10px;
}

.gastronomia {
    padding: 40px;
    color: white;
    margin-top: 80px;
}

.gastronomia .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.gastronomia img {
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    height: auto;
}

.gastronomia .text-content {
    max-width: 500px;
}

.gastronomia h1 {
    display: flex;
    align-items: center;
    font-size: 50px;
    margin: 0;
    color: var(--cor-fonte);
}

.gastronomia h2 {
    font-size: 1.5em;
    color: var(--cor-de-destaque);
}

.gastronomia p {
    font-size: 1em;
    margin: 10px 0;
}

.gastronomia .note {
    font-size: 0.8em;
    color: #f9ebd7;
}

.gastronomia .icon-utensils {
    width: 70px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: #30554F;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 30%;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 20px;
    color: #fff;
}

.card-title {
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    text-align: center;
    color: var(--cor-fonte);
    margin-bottom: 10px;
}

.card-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card-details div {
    display: flex;
    align-items: center;
    background-color: rgba(249, 235, 215, 0.3);
    padding: 5px;
    border-radius: 20px;
    font-size: 15px;
}

.card-details img {
    margin-right: 5px;
    width: 20px;
}

.card-cashback {
    background-color: #DDECE7;
    color: #30554F;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.card-button {
    display: flex;
    justify-content: center;
}

.card-button button {
    background-color: #F8E6D1;
    color: #30554F;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.card-button button:hover {
    background-color: #30554F;
    color: #F8E6D1;
}

.acomodacao {
    font-size: 45px;
    color: var(--cor-segundaria);
    text-align: center;
}

/* --------------------------------------- Footer ----------------------------------------- */
.logo {
    display: flex;
    width: 30%;
    top: 180px;
}

.rodape {
    width: 100%;
    top: 100px;
    color: #F9EBD7;
    font-family: 'Montserrat';
}

.footer-container {
    justify-content: flex-start;
    background-color: var(--cor-segundaria);
    padding: 20px;
}

.support,
.social-media,
.shortcuts,
.locations {
    margin-bottom: 20px;
}

.support-button,
.social-media-button,
.shortcuts-button {
    background-color: #D9A530;
    color: #2F4F4E;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.support p,
.phone-number {
    margin: 5px 0;
    font-size: 16px;
}

.locations {
    display: flex;
    flex-wrap: wrap;
}

.location {
    width: 50%;
    margin-bottom: 20px;
}

.location .city {
    font-weight: bold;
    color: var(--cor-de-destaque);
}

.location .details {
    margin: 5px 0;
    color: #F9EBD7;
}

.social-icons {
    margin-bottom: 30px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.social-icons span {
    color: #F9EBD7;
    font-weight: bold;
}

.shortcuts .links {
    gap: 10px;
}

.shortcuts .links a {
    color: #F9EBD7;
    text-decoration: none;
    font-weight: bold;
}

.footer-container {
    margin-top: 100px;
}

/* --------------------------------------- Responsividade ----------------------------------------- */

/* Tablet */
@media (min-width: 744px) and (max-width: 1440px) {
    .navbar {
        font-size: 16px;
        flex-direction: row;
        align-items: flex-start;
    }

    .links_container {
        gap: 10px;
    }

    .logo_nav {
        width: 100px;
        height: 100px;
    }

    .text1 {
        font-size: 16px;
    }

    .hotel {
        font-size: 100px;
    }

    .sub-text {
        font-size: 18px;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card-title {
        font-size: 24px;
    }

    .card-details div {
        font-size: 8px;
    }

    .imagem-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    }

    .destinos {
        width: 95%;
    }

    .gastronomia img {
        width: 400px;
    }
}

/* Dispositivos Móveis */
@media (max-width: 480px) {
    .text1 {
        margin-top: 60px;
        font-size: 14px;
    }

    .hotel {
        font-size: 80px;
    }

    .sub-text {
        font-size: 16px;
    }

    .card {
        width: 90%;
    }

    .card-content {
        padding: 10px;
    }

    .card-content h2 {
        font-size: 18px;
    }

    .card-content h3 {
        font-size: 16px;
    }

    .card-content p {
        font-size: 14px;
    }

    .card-content button {
        font-size: 14px;
    }
}

/* Dispositivos Móveis */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
    }

    .links_container {
        gap: 10px;
    }

    #conteudo_Principal {
        margin-top: 100px;
    }

    .descricao {
        margin: 20px;
    }

    .iframe-container iframe {
        height: 300px;
    }

    .categoria {
        margin: 10px 0;
    }

    .gastronomia .content {
        flex-direction: column;
    }

    .gastronomia img {
        width: 400px;
    }

    .cards {
        justify-content: center;
    }

    .card {
        max-width: 45%;
    }

    .rodape {
        text-align: center;
    }

    .location {
        width: 100%;
    }
}

/* Dispositivos Móveis */
@media (max-width: 480px) {
    .logo_nav {
        display: flex;
    }

    body {
        width: 100%;
    }


    .navbar {
        display: flex;
        flex-direction: row;
    }

    .links_nav {
        font-size: 16px;
        display: flex;
    }

    #nomeDoHotel {
        font-size: 48px;
    }

    #conteudo_Principal {
        padding: 20px;
    }

    .descricao {
        font-size: 16px;
        margin: 20px;
    }

    .iframe-container {
        margin: 20px;
    }

    .iframe-container iframe {
        height: 200px;
    }

    .lugares {
        flex-direction: column;
        align-items: flex-start;
    }

    .card {
        max-width: 90%;
    }

    .gastronomia .content {
        text-align: center;
    }

    .gastronomia img {
        width: 100%;
    }

    .gastronomia h1 {
        font-size: 36px;
    }

    .gastronomia h2 {
        font-size: 1.2em;
    }

    .gastronomia p {
        font-size: 0.9em;
    }

    .container-servicos,
    .container {
        padding: 20px;
    }

    .servicos h1 {
        font-size: 24px;
    }

    .categoria h2 {
        font-size: 20px;
    }

    .categoria ul li {
        font-size: 16px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .location {
        width: 100%;
    }

    .support-button,
    .social-media-button,
    .shortcuts-button {
        width: 100%;
    }

    .social-icons img {
        width: 20px;
        height: 20px;
    }

    #subnavbar {
        font-size: 10px;
        padding: 0;
        gap: 0;
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .iframe-container {
        margin-bottom: 50px;
    }

    .destino {
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 768px) {
    .hoteis_conteudo_informativo {
        flex-direction: column;
        align-items: center;
    }

    .Hotel_Rj,
    .Hotel_Bh,
    .Hotel_Pe {
        width: 90%;
    }
}



/* --------------------------------------- Footer ----------------------------------------- */
.logo {
    position: relative;
    display: flex;
    width: 30%;
    top: 180px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    border-color: #D9A530;
}

.rodape {
    position: relative;
    width: 100%;
    height: auto;
    top: 300px;
    color: #F9EBD7;
}

.footer-container {
    justify-content: flex-start;
    background-color: var(--cor-segundaria);
    padding: 20px;
}

.support,
.social-media,
.shortcuts,
.locations {
    margin-bottom: 20px;
}

.support-button,
.social-media-button,
.shortcuts-button {
    background-color: #D9A530;
    color: var(--cor-fonte);
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.support p,
.phone-number {
    margin: 5px 0;
    font-size: 16px;
}

.locations {
    display: flex;
    flex-wrap: wrap;
}

.location {
    width: 50%;
    margin-bottom: 20px;
}

.location .city {
    font-weight: bold;
    color: var(--cor-de-destaque);
}

.location .details {
    margin: 5px 0;
    color: #F9EBD7;
}

.social-icons {
    margin-bottom: 30px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.social-icons span {
    color: #F9EBD7;
    font-weight: bold;
}

.shortcuts .links {
    gap: 10px;
}

.shortcuts .links a {
    color: #F9EBD7;
    text-decoration: none;
    font-weight: bold;
}
@media (min-width: 320px) and (max-width: 932px) {


    .links_container {
        display: none;
    }

    .logo_nav {
        margin-left: 15px;
    }

    .menu-hamburger {
        margin-right: 10px;
        display: block;
    }

    .rodape {
        width: 430px;

    }

    .logo {
        align-content: center;
        width: 419px;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        color: var(--cor-fonte);
    }

    .locations {
        display: flex;
        flex-direction: column;
    }

    .responsive {
        display: flex;
        width: 60px;
    }

    .links_container {
        display: none;
    }

}



@media (max-width: 480px) {
.logo_rodape {
    width: 400px;
    margin-right:400px;
}

    .rodape {
        width: 430px;
        margin-top: -300px;

    }

    .logo {
        align-content: center;
        width: 419px;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        color: var(--cor-fonte);
    }

    .locations {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .support {
        text-align: left;

    }

    .responsive {
        display: flex;
        width: 60px;
    }

    .links_container {
        display: none;
    }
}