/*------------------------------- Reset ------------------------*/
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

/*------------------------------- Variáveis CSS ------------------------*/
:root {
    --cor-principal: rgba(44, 44, 44, 1);
    --cor-navbar: rgba(44, 44, 44, 0.25);
    --cor-segundaria: #2f4f4e;
    --cor-de-destaque: #d9a530;
    --cor-fonte: #f9ebd7;
}

/*------------------------------- Estilos Gerais ------------------------*/
body {
    
    background-color: var(--cor-segundaria);
}

/*------------------------------- Navbar ------------------------*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--cor-navbar);
    color: var(--cor-fonte);
    max-width: 100%;
}

.logo_nav {
    width: 142px;
    height: 82px;
}

.links_container {
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: 100;
}

.links_nav {
    color: var(--cor-fonte);
    font-size: 20px;
}

.links_nav:hover {
    text-decoration: underline;
}

.icon_login_nav {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

/*------------------------------------------Text--------------------------------*/
.information {
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: fit-content; 
    padding: 20px;  
}

.text1 {
    position: relative;
    width: 480px;
    height: 28px;
    left: -20px;
    top: 120px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #D9A530;
}

.hotel {
    position: relative;
    width: 782px;
    height: 191px;
    top: 80px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 200px;
    line-height: 244px;

    color: #F9EBD7;
}

.sub-text {
    position: relative;
    width: 758px;
    height: 101px;
    top: 100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    left: 13px;
    color: #F9EBD7;
    text-align: left;
}

/* ---------------------------------------Card Styles ----------------------------------------- */

.card-container {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the cards horizontally */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--cor-segundaria);
    font-family: 'Montserrat';
}

.card {
    display: flex;
    max-width: 800px;
    width: 100%;
    background-color: #2C2C2C;
    margin-top: 30px;
    overflow: hidden;
    border-radius: 20px;
}

.card-image img {
    width: 300px;
    height: 100%;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-content h2 {
    margin-top: 0;
    color: #D9A530;
}

.card-content h3 {
    margin: 10px 0;
    color: #F9EBD7;
}

.card-content p {
    margin: 10px 0;
    color: #F9EBD7;
}

.card-content button {
    padding: 10px 20px;
    background-color: #2C2C2C;
    color: #fff;
    border: none;
    border-radius: 20px;
    border: 1px solid #D9A530;
    cursor: pointer;
}

.card-content button:hover {
    transition: 0.5s;
    background-color: #D9A530;
}

.rectangle {
    position: absolute;
    width: 280px;
    height: 30px;
    color: #F9EBD7;
    background-color: #2F4F4E;
    border-radius: 15px;
}

.info {
    display: flex;
    gap: 20px;
    color: #F9EBD7;
    margin-bottom: 10px;
}

/* --------------------------------------- Footer ----------------------------------------- */
.logo {
    position: relative;
    display: flex;
    width: 30%;
    top: 180px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    border-color: #D9A530;
}

.rodape {
    position: relative;
    width: 100%;
    height: auto;
    top: 300px;
    color: #F9EBD7;
    font-family: 'Montserrat';

}

.footer-container {
    justify-content: flex-start;
    background-color: var(--cor-segundaria);
    padding: 20px;
}

.support,
.social-media,
.shortcuts,
.locations {
    margin-bottom: 20px;
}

.support-button,
.social-media-button,
.shortcuts-button {
    background-color: #D9A530;
    color: #2F4F4E;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.support p,
.phone-number {
    margin: 5px 0;
    font-size: 16px;
}

.locations {
    display: flex;
    flex-wrap: wrap;

}

.location {
    width: 50%;
    margin-bottom: 20px;
}


.location .city {
    font-weight: bold;
    color: var(--cor-de-destaque);
}

.location .details {
    margin: 5px 0;
    color: #F9EBD7;
}


.social-icons {
    margin-bottom: 30px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.social-icons span {
    color: #F9EBD7;
    font-weight: bold;
}

.shortcuts .links {
    gap: 10px;
}

.shortcuts .links a {
    color: #F9EBD7;
    text-decoration: none;
    font-weight: bold;
}

/* --------------------------------------- Responsive ----------------------------------------- */

/* Responsividade Tablet */
@media (max-width: 1024px) {

    .navbar {
        font-size: 16px;
        flex-direction: row;
        align-items: flex-start;
    }

    .links_container {
        gap: 10px;
    }

    .logo_nav {
        width: 100px;
        height: 100px;
    }



    

    /*------------------------------------------Text--------------------------------*/

        .information {
            position: relative;
            margin: 0 auto; /* Centraliza horizontalmente */
            right: 50%; 
            height: 50%; 
            bottom: 150px;
        }
    }

    .text1 {
        /* TEMOS A OPÇÃO PERFEITA PARA VOCÊ */
        position: absolute;
        width: 480px;
        height: 28px;
        top: 250px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 28px;
        /* identical to box height */

        color: #D9A530;
    }

    .hotel {
        /* HOTÉIS */
        position: absolute;
        width: 782px;
        height: 191px;
        left: 28px;
        top: 236px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 200px;
        line-height: 244px;

        color: #F9EBD7;
    }

    .sub-text {
        /* Seja para viagens de negócios ou lazer, nossas opções de hospedagem são perfeitas para oferecer conforto, qualidade e luxo. */

        position: absolute;
        width: 758px;
        height: 101px;
        left: 28px;
        top: 470px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 28px;

        color: #F9EBD7;
    }

    /* ---------------------------------------Card Styles ----------------------------------------- */

.card-container {
    position: relative;
    top: 450px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--cor-segundaria);
    font-family: 'Montserrat';
}

.card {
    display: flex;
    max-width: 800px;
    width: 100%;
    background-color: #2C2C2C;
    margin-top: 30px;
    overflow: hidden;
    border-radius: 20px;
}

.card-image img {
    width: 300px;
    height: 100%;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-content h2 {
    margin-top: 0;
    color: #D9A530;
}

.card-content h3 {
    margin: 10px 0;
    color: #F9EBD7
}

.card-content p {
    margin: 10px 0;
    color: #F9EBD7
}

.card-content button {
    padding: 10px 20px;
    background-color: #2C2C2C;
    color: #fff;
    border: none;
    border-radius: 20px;
    border: 1px solid #D9A530;
    cursor: pointer;
}

.card-content button:hover {
    transition: 0.5s;
    background-color: #D9A530;
}

.rectangle {
    /* Rectangle 1 */
    position: absolute;
    width: 280px;
    height: 30px;

    color: #F9EBD7;
    background-color: #2F4F4E;
    border-radius: 15px;

}

.info {
    display: flex;
    gap: 20px;
    /* Ajustado para mais espaçamento entre os itens */
    color: #F9EBD7;
    margin-bottom: 10px;

}


/* Responsividade Mobile */
@media (max-width: 430px) {
    @media (max-width: 1024px) {

        .navbar {
            font-size: 16px;
            flex-direction: row;
            align-items: flex-start;
        }
    
        .links_container {
            gap: 10px;
        }
    
        .logo_nav {
            width: 100px;
            height: 100px;
        }
    
    
    
        
    
        /*------------------------------------------Text--------------------------------*/
    
            .information {
                position: relative;
                margin: 0 auto; /* Centraliza horizontalmente */
                right: 50%; 
                height: 50%; 
                bottom: 150px;
            }
        }
    
        .text1 {
            /* TEMOS A OPÇÃO PERFEITA PARA VOCÊ */
            position: absolute;
            width: 480px;
            height: 28px;
            top: 250px;
    
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 28px;
            /* identical to box height */
    
            color: #D9A530;
        }
    
        .hotel {
            /* HOTÉIS */
            position: absolute;
            width: 782px;
            height: 191px;
            left: 50;
            margin: auto;
            top: 236px;
    
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 100px;
            line-height: 244px;
    
            color: #F9EBD7;
        }
    
        .sub-text {
            /* Seja para viagens de negócios ou lazer, nossas opções de hospedagem são perfeitas para oferecer conforto, qualidade e luxo. */
    
            position: absolute;
            width: 758px;
            height: 101px;
            left: 28px;
            top: 470px;
    
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 23px;
            line-height: 28px;
    
            color: #F9EBD7;
        }
    
        /* ---------------------------------------Card Styles ----------------------------------------- */
    
    .card-container {
        position: relative;
        top: 450px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: var(--cor-segundaria);
        font-family: 'Montserrat';
    }
    
    .card {
        display: flex;
        max-width: 800px;
        width: 100%;
        background-color: #2C2C2C;
        margin-top: 30px;
        overflow: hidden;
        border-radius: 20px;
    }
    
    .card-image img {
        width: 300px;
        height: 100%;
        object-fit: cover;
    }
    
    .card-content {
        padding: 20px;
    }
    
    .card-content h2 {
        margin-top: 0;
        color: #D9A530;
    }
    
    .card-content h3 {
        margin: 10px 0;
        color: #F9EBD7
    }
    
    .card-content p {
        margin: 10px 0;
        color: #F9EBD7
    }
    
    .card-content button {
        padding: 10px 20px;
        background-color: #2C2C2C;
        color: #fff;
        border: none;
        border-radius: 20px;
        border: 1px solid #D9A530;
        cursor: pointer;
    }
    
    .card-content button:hover {
        transition: 0.5s;
        background-color: #D9A530;
    }
    
    .rectangle {
        /* Rectangle 1 */
        position: absolute;
        width: 280px;
        height: 30px;
    
        color: #F9EBD7;
        background-color: #2F4F4E;
        border-radius: 15px;
    
    }
    
    .info {
        display: flex;
        gap: 20px;
        /* Ajustado para mais espaçamento entre os itens */
        color: #F9EBD7;
        margin-bottom: 10px;
    
    }
    
}