/*------------------------------- Reset ------------------------*/
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

/*------------------------------- Variáveis CSS ------------------------*/
:root {
    --cor-principal: rgba(44, 44, 44, 1);
    --cor-navbar: rgba(44, 44, 44, 0.25);
    --cor-segundaria: #2f4f4e;
    --cor-de-destaque: #d9a530;
    --cor-fonte: #f9ebd7;
}

/*------------------------------- Estilos Gerais ------------------------*/
body {
    background-color: var(--cor-segundaria);
}

/*------------------------------- Navbar ------------------------*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    max-width: 100%;
    background-color: var(--cor-navbar);
    color: var(--cor-fonte);
}

.logo_nav {
    width: 142px;
    height: 82px;
    margin-left: 102px;
    margin-top: 1px;
}

.links_container {
    display: flex;
    align-items: center;
    font-weight: 100;
    gap: 25px;
    margin-right: 33px;
}

/* Links de navegação (excluindo o ícone de login) */
.nav_links {
    display: flex;
    align-items: center;
    font-weight: 100;
    gap: 25px;
    flex-grow: 1;
}

/* Link individual da navegação */
.links_nav {
    color: var(--cor-fonte);
    text-decoration: none;
    font-size: 20px;
}

.links_nav {
    text-decoration: underline;
}

/* Ícone de login separado */
.icon_login {
    display: flex;
    align-items: center;
}

.icon_login_nav {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

/* Estilo do botão de hambúrguer */
.menu-hamburger {
    display: none;
    cursor: pointer;
}

.menu-hamburger img {
    width: 30px;
    height: 30px;
}

/* Estilo do menu hambúrguer (escondido por padrão) */
.menu-hamburger-content {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: var(--cor-navbar);
    padding: 10px;
    z-index: 100;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.menu-hamburger-content a {
    color: var(--cor-fonte);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s;
}

.menu-hamburger-content a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Mostrar o menu responsivo ao clicar */
.menu-hamburger-content.active {
    display: flex;
}

/*------------------------------------------Text--------------------------------*/
.information {
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: fit-content;
    padding: 20px;
}

.text1 {
    position: relative;
    width: 480px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #D9A530;
}

.hotel {
    position: relative;
    width: 782px;
    font-style: normal;
    font-weight: 700;
    font-size: 200px;
    line-height: 244px;
    color: #F9EBD7;
}

.sub-text {
    position: relative;
    width: 758px;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    color: #F9EBD7;
    text-align: left;
}

/* ---------------------------------------Card Styles ----------------------------------------- */

.card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--cor-segundaria);
}

.card {
    display: flex;
    max-width: 800px;
    width: 100%;
    background-color: #2C2C2C;
    margin-top: 30px;
    overflow: hidden;
    border-radius: 20px;
}

.card-image img {
    width: 300px;
    height: 100%;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-content h2 {
    margin-top: 0;
    color: #D9A530;
}

.card-content h3 {
    margin: 10px 0;
    color: #F9EBD7;
}

.card-content p {
    margin: 10px 0;
    color: #F9EBD7;
}

.card-content button {
    padding: 10px 20px;
    background-color: #2C2C2C;
    color: #fff;
    border: none;
    border-radius: 20px;
    border: 1px solid #D9A530;
    cursor: pointer;
}

.card-content button:hover {
    transition: 0.5s;
    background-color: #D9A530;
}

.rectangle {
    position: absolute;
    width: 280px;
    height: 30px;
    color: #F9EBD7;
    background-color: #2F4F4E;
    border-radius: 15px;
}

.info {
    display: flex;
    gap: 20px;
    color: #F9EBD7;
    margin-bottom: 10px;
}

/* --------------------------------------- Footer ----------------------------------------- */
.logo {
    position: relative;
    display: flex;
    width: 30%;
    top: 180px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    border-color: #D9A530;
}

.rodape {
    position: relative;
    width: 100%;
    height: auto;
    top: 300px;
    color: #F9EBD7;
}

.footer-container {
    justify-content: flex-start;
    background-color: var(--cor-segundaria);
    padding: 20px;
}

.support,
.social-media,
.shortcuts,
.locations {
    margin-bottom: 20px;
}

.support-button,
.social-media-button,
.shortcuts-button {
    background-color: #D9A530;
    color: var(--cor-fonte);
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.support p,
.phone-number {
    margin: 5px 0;
    font-size: 16px;
}

.locations {
    display: flex;
    flex-wrap: wrap;
}

.location {
    width: 50%;
    margin-bottom: 20px;
}

.location .city {
    font-weight: bold;
    color: var(--cor-de-destaque);
}

.location .details {
    margin: 5px 0;
    color: #F9EBD7;
}

.social-icons {
    margin-bottom: 30px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.social-icons span {
    color: #F9EBD7;
    font-weight: bold;
}

.shortcuts .links {
    gap: 10px;
}

.shortcuts .links a {
    color: #F9EBD7;
    text-decoration: none;
    font-weight: bold;
}

/* --------------------------------------- Responsive ----------------------------------------- */

/* Responsividade Tablet */
@media (max-width: 1024px) {
    .navbar {
        font-size: 16px;
        flex-direction: row;
        align-items: flex-start;
    }

    .links_container {
        gap: 10px;
    }

    .logo_nav {
        width: 100px;
        height: 100px;
    }

    .information {
        position: relative;
        margin: 0 auto;
        text-align: center;
        width: fit-content;
        padding: 20px;
    }

    .text1 {
        position: relative;
        width: 480px;

        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        color: #D9A530;
    }

    .hotel {
        position: relative;
        width: 782px;

        font-style: normal;
        font-weight: 700;
        font-size: 200px;
        line-height: 244px;
        color: #F9EBD7;
    }

    .sub-text {
        position: relative;
        width: 758px;

        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 28px;
        color: #F9EBD7;
        text-align: left;
    }

    .card-container {
        top: 80px;
    }
}

/* Responsividade Mobile */
@media (max-width: 480px) {
    body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    .navbar {
        font-size: 12px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .links_container {
        gap: 10px;
        display: flex;
        flex-direction: row;
    }

    .logo_nav {
        width: 100px;
        height: 100px;
    }

    .information {
        position: relative;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        /* Adjusted for responsiveness */
        padding: 20px;
    }

    .text1,
    .hotel,
    .sub-text {
        position: relative;
        width: 100%;
        /* Adjusted for responsiveness */

        font-style: normal;
        font-weight: 700;
        color: #F9EBD7;
        /* Adjusted for readability on mobile */
    }

    .text1 {
        font-size: 16px;
        /* Adjusted font size for mobile */
        line-height: 24px;
        /* Adjusted line height for mobile */
        color: var(--cor-de-destaque);
    }

    .hotel {
        font-size: 85px;
        /* Adjusted font size for mobile */
        line-height: 100px;
        /* Adjusted line height for mobile */

    }

    .sub-text {
        font-size: 14px;
        /* Adjusted font size for mobile */
        line-height: 24px;
        /* Adjusted line height for mobile */
        text-align: left;
        /* Center align for mobile */
    }

    .card-container {
        display: flex;
        width: 347px;
        margin: 0 auto;

    }

    .card {
        flex-direction: column;
    }

    .card-image img {
        width: 100%;
    }

    .rectangle {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .rectangle img {
        margin-right: 10px;
    }

    hr {
        width: 100%;
    }

    .rodape {
        width: 430px;
    }

    .logo {
        align-content: center;
        width: 419px;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        color: var(--cor-fonte);
    }

    .locations {
        display: flex;
        flex-direction: column;
    }

    .responsive {
        display: flex;
        width: 60px;
    }

    .links_container {
        display: none;
    }
}