* {
    margin: 0 auto;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

/*-------------------------------Variaveis Css ------------------------*/
:root {
    --cor-principal: rgba(44, 44, 44);
    --cor-navbar: rgba(44, 44, 44, 0.25);
    --cor-segundaria: #2f4f4e;
    --cor-de-destaque: #d9a530;
    --cor-fonte: #f9ebd7;
}

/*-------------------------------Inicio style Main ------------------------*/
body {
    background-color: var(--cor-principal);
    overflow-x: hidden; /* Impede a rolagem horizontal */
}

/*-------------------------------Inicio style Navbar ------------------------*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    max-width: 100%;
    background-color: var(--cor-navbar);
    color: var(--cor-fonte);
}

.logo_nav {
    width: 142px;
    height: 82px;
    margin-left: 102px;
    margin-top: 1px;
}

.links_container {
    display: flex;
    align-items: center;
    font-weight: 100;
    gap: 25px;
    margin-right: 33px;
}

.links_nav {
    color: var(--cor-fonte);
    text-decoration: none;
    font-size: 20px;
}

.links_nav:hover {
    text-decoration: underline;
}

.icon_login_nav {
    width: 55px;
    height: 55px;
    margin-right: 33.5px;
    border-radius: 50%;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

main h1 {
    font-size: 58px;
    margin-bottom: 20px;
    color: var(--cor-fonte);
    font-weight: 500;
    margin-left: 140px;
}

.trip-details,
.contractor-info {
    background-color: #333333;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;

}

.info {
    color: var(--cor-fonte);
    font-size: 22px;
}

.trip-details h2,
.contractor-info h2 {
    font-size: 27px;
    color: var(--cor-fonte);
    font-weight: 600;
    margin-bottom: 10px;
}

.trip-details p {
    margin: 10px 0;
    color: var(--cor-fonte);
    font-weight: 300;
}

.contractor-info form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
}

.contractor-info form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #f9ebd7;
    border-radius: 10px;
    background-color: transparent;
    color: #ffffff;
    width: 95%;
}

.contractor-info form input::placeholder {
    font-size: 15px;
}

.contractor-info form .notice {
    font-size: 0.8em;
    color: #cccccc;
    margin: 5px 0;
}

.voltar,
.confirmar {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #d9d9d9;
    color: #333333;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.voltar a,
.confirmar {
    text-decoration: none;
    color: inherit;
}

.voltar:hover,
.confirmar:hover {
    background-color: #b4b4b4;
}

.voltar {
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid #cccccc;
    color: var(--cor-fonte);
}

.voltar:hover {
    background-color: red;
    color: white;
}

/* Responsiveness */
@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .logo_nav {
        margin: 10px 0;
    }

    .links_container {
        flex-direction: column;
        gap: 10px;
        margin: 10px 0;
        align-items: center;
    }

    .icon_login_nav {
        margin: 10px 0;
    }

    main h1 {
        font-size: 40px;
        margin-left: 20px;
    }

    .trip-details,
    .contractor-info {
        width: 100%;
        padding: 10px;
        margin-top: 15px;
        box-sizing: border-box;
    }

    .contractor-info form input,
    .contractor-info form button {
        width: 100%;
        margin: 0 auto;
    }

    .voltar {
        width: 100%;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    .navbar {
        font-size: 12px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .links_container {
        gap: 10px;
        display: flex;
        flex-direction: row;
    }

    .logo_nav {
        width: 100px;
        height: 100px;
    }

    main h1 {
        font-size: 30px;
        margin-left: 10px;
    }

    .trip-details,
    .contractor-info {
        padding: 15px;
        width: 85%;
        margin: 0 auto;
        margin-top: 15px;
    }


    .contractor-info form input {
        width: 95%;
    }

    .contractor-info form button {
        width: 100%;
        padding: 10px;
    margin-bottom: 10px;

    }
}
