<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/configuração.css">
    <title>Editar Perfil</title>
</head>
<body>
  <main class="main">

  
    <div class="register">
      <form class="form">
          <div class="profile-pic">
            <label class="-label" for="file"></label>
            <input id="file" type="file" onchange="loadFile(event)"/>
            <img src="../assets/img/icon/—Pngtree—avatar icon profile icon member_5247852.png" id="output" width="200" />
          </div>
        

        <input class="input" type="name" name="name" placeholder="Name" required="">
        <input class="input" type="email" name="email" placeholder="Email" required="">

        <button class="register-button">Editar</button>
      </form>
    </div>
  </div>
</main>
</body>
</html>