<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação de Hospedagem</title>
    <link rel="stylesheet" href="/css/confirmacao.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

</head>

<body>

    <%- include('partials/header') %>
    
    <main>
        <section class="confirmation">
            <h1>CONFIRMAÇÃO DE HOSPEDAGEM</h1>
            <hr>
            <p class="suaEstadia">Sua estadia está programada entre</p>
            <p class="dates">06 - 10 de dez.</p>
            <hr>
            <div class="information">

                <h2>INFORMAÇÕES</h2>
                <p><strong>CONTRATANTE:</strong> Nome do contratante</p>
                <p><strong>QUANTIDADE DE HÓSPEDES:</strong> 3</p>
                <p><strong>HOTEL:</strong> BARRA DA TIJUCA, RIO</p>
                <p><strong>VALOR:</strong> 1550,00</p>
            </div>
            <hr>
            <div class="notes">
                <p>* Menores de idade devem estar acompanhados por pelo menos um responsável legal durante toda a
                    estadia.</p>
                <p>* Os demais hóspedes, além do contratante do quarto, devem se cadastrar na entrada do hotel,
                    apresentando um documento de identidade oficial com foto.</p>
                <p>* O pagamento deverá ser realizado no check-in da hospedagem.</p>
            </div>
            <hr>
            <div class="help">
                <p>Caso precise de ajuda, ligue imediatamente para:</p>
                <p class="phone-number">0800 000 000 00</p>
            </div>

        </section>

    </main>

    <%- include('partials/footer') %>

    <script src="js/confirmação.js"></script>
</body>

</html>