<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/detalhes.css">
    <title>Crystal Palace Hotel</title>
</head>

<body>
    <div class="container_pai">
        <nav class="navbar">
            <div class="logo_nav">
                <a href="index.html"><img src="../assets/img/Logo_Nav.png" alt="Logo Crystal Palace"></a>
            </div>
            <div class="links_container">
                <a href="hoteis.html" class="links_nav">Hotéis</a>
                <a href="destinos.html" class="links_nav">Destinos</a>
                <a href="contato.html" class="links_nav">Contato/Sac</a>
                <a href="login.html"><img src="../assets/img/icon/Icon_Login 1.png" alt="Ícone Login" class="icon_login_nav"></a>
            </div>
        </nav>

        <main id="conteudo_Principal">
            <h1 id="nomeDoHotel">Rio de Janeiro</h1>
            <div id="localizacao">
                <h2 id="cep">Barra da Tijuca, RJ</h2>
            </div>
        </main>
    </div>

    <section class="corpo">
        <div class="descricao">
            O Crystal Palace, situado na área mais nobre da praia da Barra, oferece uma excelente infraestrutura para
            atender e receber seus hóspedes.
            Com uma localização de frente para o mar, é a escolha ideal para viajantes exigentes em busca de uma
            experiência excepcional em hospitalidade.
        </div>

        <nav id="subnavbar">
            <a href="#">Localização</a>
            <a href="#">Fotos</a>
            <a href="#">Serviços</a>
            <a href="#">Acomodações</a>
        </nav>

        <div class="iframe-container">
            <iframe class="maps"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3672.3883283008263!2d-43.35829497613419!3d-23.00950978769826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bda5ca7a03b6f%3A0x14e2facee98897b4!2sHotel%20Laghetto%20Stilo%20Barra!5e0!3m2!1spt-BR!2sbr!4v1717610498244!5m2!1spt-BR!2sbr"
                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <section class="destinos">
            <h1 class="tema">
                Um hotel perfeitamente <br> localizado no seu destino
            </h1>

            <h4 class="topicos">Atrações Turísticas</h4>
            <div class="lugares">
                <p class="lugar"><img class="icon-destinos" src="../assets/img/icon/location.png" alt=""> Pão de Açúcar</p>
                <p class="minutos">40 min</p>
            </div>
            <div class="lugares">
                <p class="lugar"><img class="icon-destinos" src="../assets/img/icon/location.png" alt=""> Cristo Redentor</p>
                <p class="minutos">25 min</p>
            </div>
            <div class="lugares">
                <p class="lugar"><img class="icon-destinos" src="../assets/img/icon/location.png" alt=""> Escadaria Selarón</p>
                <p class="minutos">42 min</p>
            </div>

            <hr>

            <h4 class="topicos">Transporte</h4>
            <div class="lugares">
                <p class="lugar"><img class="icon-destinos" src="../assets/img/icon/icon-transporte.png" alt=""> Vicente de Carvalho</p>
                <p class="minutos">40 min</p>
            </div>
            <div class="lugares">
                <p class="lugar"><img class="icon-destinos" src="../assets/img/icon/icon-transporte.png" alt=""> Terminal Rodoviário</p>
                <p class="minutos">25 min</p>
            </div>
            <div class="lugares">
                <p class="lugar"><img class="icon-destinos" src="../assets/img/icon/icon-aviao.png" alt=""> Aeroporto Internacional do Rio de Janeiro</p>
                <p class="minutos">42 min</p>
            </div>

            <hr>

            <h4 class="topicos">Alimentação</h4>
            <div class="lugares">
                <p class="lugar"><img class="icon-destinos" src="../assets/img/icon/icon-garfo.png" alt=""> Garden Brasa Barra</p>
                <p class="minutos">40 min</p>
            </div>
            <div class="lugares">
                <p class="lugar"><img class="icon-destinos" src="../assets/img/icon/icon-garfo.png" alt=""> Rei do Pastel</p>
                <p class="minutos">25 min</p>
            </div>
            <div class="lugares">
                <p class="lugar"><img class="icon-destinos" src="../assets/img/icon/icon-garfo.png" alt=""> Palace 6</p>
                <p class="minutos">42 min</p>
            </div>

            <hr>

            <h4 class="topicos">Serviços</h4>
            <div class="lugares">
                <p class="lugar"><img class="icon-destinos" src="../assets/img/icon/icon-mercado.png" alt=""> Inter Supermercado</p>
                <p class="minutos">40 min</p>
            </div>
            <div class="lugares">
                <p class="lugar"><img class="icon-destinos" src="../assets/img/icon/icon-farma.png" alt=""> Farmácia Raia</p>
                <p class="minutos">25 min</p>
            </div>
            <div class="lugares">
                <p class="lugar"><img class="icon-destinos" src="../assets/img/icon/icon-posto_gasolina.png" alt=""> Posto 27</p>
                <p class="minutos">42 min</p>
            </div>
        </section>

        <section class="fotos">
            <h1>Fotos</h1>
            <div class="imagem-container">
                <img src="../assets/img/image-bar.png" alt="Imagem do Bar">
                <img src="../assets/img/image-lazer2.png" alt="Área de Lazer">
                <img src="../assets/img/img-arealazer1.png" alt="Imagem da Área de Lazer">
                <img src="../assets/img/img-sauna.png" alt="Imagem da Sauna">
            </div>
        </section>

        <section class="container-servicos">
            <div class="servicos">
                <h1>Serviços</h1>
                <div class="categorias">
                    <div class="categoria">
                        <h2>Bem-estar</h2>
                        <ul>
                            <li><img class="icon" src="../assets/img/icon/icon-piscina.png" alt="">Piscina</li>
                            <li><img class="icon" src="../assets/img/icon/icon-center_fitness.png" alt="">Fitness Center</li>
                            <li><img class="icon" src="../assets/img/icon/icon-space-kids.png" alt="">Espaço Kids</li>
                            <li><img class="icon" src="../assets/img/icon/icon-rooftop.png" alt="">Rooftop</li>
                        </ul>
                    </div>
                    <div class="categoria">
                        <h2>Áreas Comuns</h2>
                        <ul>
                            <li><img class="icon" src="../assets/img/icon/icon-estacionamento.png" alt="">Estacionamento</li>
                            <li><img class="icon" src="../assets/img/icon/icon-parquinho.png" alt="">Parquinho</li>
                            <li><img class="icon" src="../assets/img/icon/icon-rede-wif.png" alt="">Rede Wifi</li>
                            <li><img class="icon" src="../assets/img/icon/icon-hotel-pet.png" alt="">Hotel Pet Friendly</li>
                        </ul>
                    </div>
                    <div class="categoria">
                        <h2>Gastronomia</h2>
                        <ul>
                            <li><img class="icon" src="../assets/img/icon/icon-cafe.png" alt="">Café da Manhã</li>
                            <li><img class="icon" src="../assets/img/icon/icon-restaurante.png" alt="">Restaurante</li>
                            <li><img class="icon" src="../assets/img/icon/icon-serviço-de-carro.png" alt="">Room Service</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="gastronomia">
            <div class="content">
                <img src="../assets/img/img-gastronomia.png" alt="Imagem de gastronomia" width="700px">
                <div class="text-content">
                    <h1><img class="icon-utensils" src="../assets/img/icon/icon-gastronomia.png" alt="Icone Gastronomia"> Gastronomia</h1>
                    <h2>Experiência Excepcional</h2>
                    <p>Oferecemos opções para todos os gostos, desde um café da manhã completo para começar o dia com energia até almoço e jantar com pratos variados.</p>
                    <p class="note">*Para garantir que possamos atender às suas necessidades dietéticas, é crucial fazer a solicitação de pratos específicos com antecedência para o hotel.</p>
                </div>
            </div>
        </section>

        <section class="container">
            <div class="header">
                <img src="../assets/img/icon/icon-acomodações.png" width="45px" alt="Ícone Acomodações">
                <h1 class="acomodacao">Acomodações</h1>
            </div>
            <div class="cards">
                <div class="card">
                    <img src="../assets/img/img-quarto1.png" alt="Imagem do Quarto">
                    <div class="card-content">
                        <div class="card-title">Crystal Mar</div>
                        <div class="card-details">
                            <div><img src="https://img.icons8.com/?size=100&id=85167&format=png&color=F9EBD7" alt="Ícone Pessoa"> 2 Pessoas</div>
                            <div><img src="../assets/img/icon/icon-cama.png" alt="Ícone Cama"> Cama King Size</div>
                        </div>
                        <div class="card-cashback">
                            <strong>Cashback Crystal</strong><br>Reservando pelo site oficial da Rede Crystal você ganha 10% de cashback e pode pagar em até 10x sem juros.
                        </div>
                        <div class="card-button">
                            <button>RESERVAR AGORA</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="../assets/img/img-quarto1.png" alt="Imagem do Quarto">
                    <div class="card-content">
                        <div class="card-title">Crystal Mar</div>
                        <div class="card-details">
                            <div><img src="https://img.icons8.com/?size=100&id=85167&format=png&color=F9EBD7" alt="Ícone Pessoa"> 2 Pessoas</div>
                            <div><img src="../assets/img/icon/icon-cama.png" alt="Ícone Cama"> Cama King Size</div>
                        </div>
                        <div class="card-cashback">
                            <strong>Cashback Crystal</strong><br>Reservando pelo site oficial da Rede Crystal você ganha 10% de cashback e pode pagar em até 10x sem juros.
                        </div>
                        <div class="card-button">
                            <button>RESERVAR AGORA</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="../assets/img/img-quarto1.png" alt="Imagem do Quarto">
                    <div class="card-content">
                        <div class="card-title">Crystal Mar</div>
                        <div class="card-details">
                            <div><img src="https://img.icons8.com/?size=100&id=85167&format=png&color=F9EBD7" alt="Ícone Pessoa"> 2 Pessoas</div>
                            <div><img src="../assets/img/icon/icon-cama.png" alt="Ícone Cama"> Cama King Size</div>
                        </div>
                        <div class="card-cashback">
                            <strong>Cashback Crystal</strong><br>Reservando pelo site oficial da Rede Crystal você ganha 10% de cashback e pode pagar em até 10x sem juros.
                        </div>
                        <div class="card-button">
                            <button>RESERVAR AGORA</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <img class="logo" src="Tamagavi9905@
/img/logo-rodapé.png" alt="">

    <footer class="rodape">
        <div class="footer-container">
            <hr>
            <div class="support">
                <button class="support-button">AJUDA O SUPORTE?</button>
                <p class="central-reservas">CENTRAL DE RESERVAS (WHATSAPP)</p>
                <p class="phone-number">0800 000 000 2</p>
            </div>
            <div class="locations">
                <div class="location">
                    <p class="city">São Paulo</p>
                    <p class="details">(00) 000 0000</p>
                    <p class="details">Seg. a Sex. das 7h às 19h</p>
                    <p class="details">Sábados e Feriados: 7h às 16h</p>
                </div>
                <div class="location">
                    <p class="city">Rio de Janeiro</p>
                    <p class="details">(21) 000 0000</p>
                    <p class="details">Seg. a Sex. das 9h às 17h</p>
                    <p class="details">Sábados e Feriados: 8h às 12h</p>
                </div>
                <div class="location">
                    <p class="city">Belo Horizonte</p>
                    <p class="details">(00) 000 0000</p>
                    <p class="details">Seg. a Sex. das 7h às 17h</p>
                    <p class="details">Sábados e Feriados: 9h às 12h</p>
                </div>
                <div class="location">
                    <p class="city">SAC</p>
                    <p class="details">(00) 000 0000</p>
                    <p class="details">Seg. a Sex. das 7h às 17h</p>
                    <p class="details">Sábados e Feriados: 9h às 12h</p>
                </div>
                <div class="location">
                    <p class="city">Porto Alegre</p>
                    <p class="details">(00) 000 0000</p>
                    <p class="details">Seg. a Sex. das 8h às 17h</p>
                    <p class="details">Sábados e Feriados: 9h às 12h</p>
                </div>
                <div class="location">
                    <p class="city">Curitiba</p>
                    <p class="details">(00) 000 0000</p>
                    <p class="details">Seg. a Sex. das 8h às 17h</p>
                    <p class="details">Sábados e Feriados: 9h às 12h</p>
                </div>
                <div class="location">
                    <p class="city">Sede Nacional</p>
                    <p class="details">R. Carlos Sampaio, 339 - Bela Vista</p>
                    <p class="details">Paulista, São Paulo</p>
                </div>
                <div class="location">
                    <p class="city">Sede Regional 2</p>
                    <p class="details">Av. Padre Cacique, 1178 - Menino Deus</p>
                    <p class="details">Porto Alegre, Rio Grande do Sul</p>
                </div>
            </div>
            <div class="social-media">
                <button class="social-media-button">ACOMPANHE NOSSAS REDES SOCIAIS</button>
                <div class="social-icons">
                    <img src="Tamagavi9905@
                    /img/icon/icon-instagram 1.png" alt="Instagram">
                    <img src="Tamagavi9905@
                    /img/icon/icon-facebook 1.png" alt="Facebook">
                    <img src="Tamagavi9905@
                    /img/icon/icon-linkedin 1.png" alt="LinkedIn">
                    <img src="Tamagavi9905@
                    /img/icon/icon-whatsapp 1.png" alt="Whatsapp">
                    <span>@crystalpalace</span>
                </div>
            </div>
            <div class="shortcuts">
                <button class="shortcuts-button">ATALHOS</button>
                <div class="links">
                    <a href="#">INICIO</a>
                    <a href="#">HOTÉIS</a>
                    <a href="#">DESTINOS</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
