    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/css/detalhes.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet">

        <title>Detalhes</title>
    </head>

    <body>

        <nav class="navbar">
            <a href="index.html"><img src="../assets/img/Logo_Nav.png" alt="logo-do-hotel" class="logo_navbar"></a>
            <a href="hoteis.html" class="links_nav">Hotéis</a>
            <a href="destinos.html" class="links_nav">Destinos</a>
            <a href="" class="links_nav">Contato/Sac</a>
            <a href="login.html"><img src="../assets/img/icon/Icon_Login 1.png" alt="icone_login"
                    class="icon_login_nav"></a>
        </nav>

        
        <div class="banner-container">
            <img id="img-banner" src="../assets/img/Hotel_Pernambuco.png" alt="">
        </div>
        

    </body>

    </body>

    </html>