<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../assets/css/hoteis.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../assets/css/hoteis.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <title>Hoteis</title>
</head>

<body>
    <nav class="navbar">
        <div class="logo_nav">
            <a href="index.html"><img src="../assets/img/Logo_Nav.png" alt=""></a>

        </div>
        <div class="links_container">
            <a href="hoteis.html" class="links_nav">Hotéis</a>
            <a href="destinos.html" class="links_nav">Destinos</a>
            <a href="contato.html" class="links_nav">Contato/Sac</a>
            <a href="login.html"><img src="../assets/img/icon/Icon_Login 1.png" alt="icone_login"
                    class="icon_login_nav"></a>
        </div>
    </nav>


    <div class="information">
        <p class="text1">TEMOS A OPÇÃO PERFEITA PARA VOCÊ</p>
        <h1 class="hotel">HOTEIS</h1>
        <p class="sub-text">Seja para viagens de negócios ou lazer, nossas opções de
            hospedagem são perfeitas para oferecer conforto, qualidade e
            luxo.</p>
    </div>


    <!-- Card -->
    <div class="card-container">

        <div class="card"> <!-- Recife -->
            <div class="card-image">
                <img src="../assets/img/Hotel_Pernambuco.png" alt="Descrição da Imagem">
            </div>
            <div class="card-content">
                <h3>Crystal Pernambuco</h3>
                <h2>Recife</h2>
                <p>O Crystal Palace Recife é um hotel de luxo que oferece conforto e tranquilidade, com suítes
                    elegantes, restaurante gourmet, spa e piscina. Ideal para viagens de negócios ou lazer, proporciona
                    uma estadia sofisticada e inesquecível.</p>

                <br>

                <p>LOCALIZAÇÃO</p>
                <div class="rectangle"><img src="../assets/img/icon/Icon_location.png" alt="">CENTRO, PERNAMBUCO</div>
                <br><br>
                <div class="info">
                    <span>Rua das Flores</span><span>0,2KM</span><span>1 min</span>
                </div>

                <div class="info">
                    <span>Rua Principal </span><span>0,6KM</span><span>6 min</span>
                </div>

                <br>

                <a href="detalhes.html"><button>Quero ver mais detalhes</button></a>
            </div>
        </div>

        <div class="card"> <!-- Jaboatão dos Guararapes -->
            <div class="card-image">
                <img src="../assets/img/Hotel_Pernambuco.png" alt="Descrição da Imagem">
            </div>
            <div class="card-content">
                <h3>Crystal Pernambuco</h3>
                <h2>Jaboatão dos Guararapes</h2>
                <p>O Crystal Palace Pernambuco em Jabotão dos Guararapes é um hotel de luxo que oferece conforto e
                    tranquilidade, com suítes elegantes, restaurante gourmet, spa e piscina. Ideal para viagens de
                    negócios ou lazer, proporciona uma estadia sofisticada e inesquecível.</p>

                <br>

                <p>LOCALIZAÇÃO</p>
                <div class="rectangle"><img src="../assets
                /img/icon/Icon_location.png" alt="">CENTRO, PERNAMBUCO</div>
                <br><br>
                <div class="info">
                    <span>Rua das Flores</span><span>0,2KM</span><span>1 min</span>
                </div>

                <div class="info">
                    <span>Rua Principal </span><span>0,6KM</span><span>6 min</span>
                </div>

                <br>

                <a href="#"><button>Quero ver mais detalhes</button></a>
            </div>

        </div>

        <div class="card"> <!-- Belo Horizonte -->
            <div class="card-image">
                <img src="../assets/img/Hotel_Pernambuco.png" alt="Descrição da Imagem">
            </div>
            <div class="card-content">
                <h3>Crystal Minas Gerais</h3>
                <h2>Belo Horizonte</h2>
                <p>O Crystal Palace Minas Gerais em Belo Horizonte é um hotel de luxo que oferece conforto e
                    tranquilidade, com suítes elegantes, restaurante gourmet, spa e piscina. Ideal para viagens de
                    negócios ou lazer, proporciona uma estadia sofisticada e inesquecível.</p>

                <br>

                <p>LOCALIZAÇÃO</p>
                <div class="rectangle"><img src="../assets
                /img/icon/Icon_location.png" alt="">CENTRO, BELO HORIZONTE</div>
                <br><br>
                <div class="info">
                    <span>Rua das Flores</span><span>0,2KM</span><span>1 min</span>
                </div>

                <div class="info">
                    <span>Rua Principal </span><span>0,6KM</span><span>6 min</span>
                </div>

                <br>

                <a href="#"><button>Quero ver mais detalhes</button></a>
            </div>
        </div>

        <div class="card"> <!-- Copacabana -->
            <div class="card-image">
                <img src="../assets/img/Hotel_Pernambuco.png" alt="Descrição da Imagem">
            </div>
            <div class="card-content">
                <h3>Crystal Rio de Janeiro</h3>
                <h2>Copacabana</h2>
                <p>O Crystal Palace Rio de Janeiro em Copacabana é um hotel de luxo que oferece conforto e
                    tranquilidade, com suítes elegantes, restaurante gourmet, spa e piscina. Ideal para viagens de
                    negócios ou lazer, proporciona uma estadia sofisticada e inesquecível.</p>

                <br>

                <p>LOCALIZAÇÃO</p>
                <div class="rectangle"><img src="../assets
                /img/icon/Icon_location.png" alt="">CENTRO, COPACABANA</div>
                <br><br>
                <div class="info">
                    <span>Rua das Flores</span><span>0,2KM</span><span>1 min</span>
                </div>

                <div class="info">
                    <span>Rua Principal </span><span>0,6KM</span><span>6 min</span>
                </div>

                <br>

                <a href="#"><button>Quero ver mais detalhes</button></a>
            </div>
        </div>

        <div class="card"> <!-- Niterói -->
            <div class="card-image">
                <img src="../assets/img/Hotel_Pernambuco.png" alt="Descrição da Imagem">
            </div>
            <div class="card-content">
                <h3>Crystal Rio de Janeiro</h3>
                <h2>Niterói</h2>
                <p>O Crystal Palace Rio de Janeiro em Niterói é um hotel de luxo que oferece conforto e tranquilidade,
                    com suítes elegantes, restaurante gourmet, spa e piscina. Ideal para viagens de negócios ou lazer,
                    proporciona uma estadia sofisticada e inesquecível.</p>

                <br>

                <p>LOCALIZAÇÃO</p>
                <div class="rectangle"><img src="../assets
                /img/icon/Icon_location.png" alt="">CENTRO, NITEROÍ</div>
                <br><br>
                <div class="info">
                    <span>Rua das Flores</span><span>0,2KM</span><span>1 min</span>
                </div>

                <div class="info">
                    <span>Rua Principal </span><span>0,6KM</span><span>6 min</span>
                </div>

                <br>

                <a href="#"><button>Quero ver mais detalhes</button></a>
            </div>
        </div>

        <div class="card"> <!-- Barra da Tijuca -->
            <div class="card-image">
                <img src="../assets/img/Hotel_Pernambuco.png" alt="Descrição da Imagem">
            </div>

            <div class="card-content">
                <h3>Crystal Rio de Janeiro</h3>
                <h2>Barra da Tijuca</h2>
                <p>O Crystal Palace Rio de Janeiro na Barra da Tijuca é um hotel de luxo que oferece conforto e
                    tranquilidade, com suítes elegantes, restaurante gourmet, spa e piscina. Ideal para viagens de
                    negócios ou lazer, proporciona uma estadia sofisticada e inesquecível.</p>

                <br>

                <p>LOCALIZAÇÃO</p>
                <div class="rectangle"><img src="../assets
                /img/icon/Icon_location.png" alt="">CENTRO, BARRA DA TIJUCA</div>
                <br><br>
                <div class="info">
                    <span>Rua das Flores</span><span>0,2KM</span><span>1 min</span>
                </div>

                <div class="info">
                    <span>Rua Principal </span><span>0,6KM</span><span>6 min</span>
                </div>

                <br>

                <a href="#"><button>Quero ver mais detalhes</button></a>
            </div>
        </div>
    </div>

    <img class="logo" src="../assets
/img/logo-rodapé.png" alt="">

    <footer class="rodape">

        <div class="footer-container">
            <hr>
            <div class="left-selction">
                <div class="support">
                    <button class="support-button">AJUDA O SUPORTE?</button>
                    <p class="central-reservas">CENTRAL DE RESERVAS (WHATSAPP)</p>
                    <p class="phone-number">0800 000 000 2</p>
                </div>
                <div class="locations">
                    <div class="location">
                        <p class="city">São Paulo</p>
                        <p class="details">(00) 000 0000</p>
                        <p class="details">Seg. a Sex. das 7h às 19h</p>
                        <p class="details">Sábados e Feriados: 7h às 16h</p>
                    </div>
                    <div class="location">
                        <p class="city">Rio de Janeiro</p>
                        <p class="details">(21) 000 0000</p>
                        <p class="details">Seg. a Sex. das 9h às 17h</p>
                        <p class="details">Sábados e Feriados: 8h às 12h</p>
                    </div>
                    <div class="location">
                        <p class="city">Belo Horizonte</p>
                        <p class="details">(00) 000 0000</p>
                        <p class="details">Seg. a Sex. das 7h às 17h</p>
                        <p class="details">Sábados e Feriados: 9h às 12h</p>
                    </div>
                    <div class="location">
                        <p class="city">SAC</p>
                        <p class="details">(00) 000 0000</p>
                        <p class="details">Seg. a Sex. das 7h às 17h</p>
                        <p class="details">Sábados e Feriados: 9h às 12h</p>
                    </div>
                    <div class="location">
                        <p class="city">Porto Alegre</p>
                        <p class="details">(00) 000 0000</p>
                        <p class="details">Seg. a Sex. das 8h às 17h</p>
                        <p class="details">Sábados e Feriados: 9h às 12h</p>
                    </div>
                    <div class="location">
                        <p class="city">Curitiba</p>
                        <p class="details">(00) 000 0000</p>
                        <p class="details">Seg. a Sex. das 8h às 17h</p>
                        <p class="details">Sábados e Feriados: 9h às 12h</p>
                    </div>
                    <div class="location">
                        <p class="city">Sede Nacional</p>
                        <p class="details">R. Carlos Sampaio, 339 - Bela Vista</p>
                        <p class="details">Paulista, São Paulo</p>
                    </div>
                    <div class="location">
                        <p class="city">Sede Regional 2</p>
                        <p class="details">Av. Padre Cacique, 1178 - Menino Deus</p>
                        <p class="details">Porto Alegre, Rio Grande do Sul</p>
                    </div>
                </div>
                <div class="social-media">
                    <button class="social-media-button">ACOMPANHE NOSSAS REDES SOCIAIS</button>
                    <div class="social-icons">
                        <img src="../assets
                    /img/icon/icon-instagram 1.png" alt="Instagram">
                        <img src="../assets
                    /img/icon/icon-facebook 1.png" alt="Facebook">
                        <img src="../assets
                    /img/icon/icon-linkedin 1.png" alt="LinkedIn">
                        <img src="../assets
                    /img/icon/icon-whatsapp 1.png" alt="Whatsapp">
                        <span>@crystalpalace</span>
                    </div>
                </div>
                <div class="shortcuts">
                    <button class="shortcuts-button">ATALHOS</button>
                    <div class="links">
                        <a href="#">INICIO</a>
                        <a href="#">HOTÉIS</a>
                        <a href="#">DESTINOS</a>
                    </div>
                </div>
            </div>
    </footer>
</body>

</html>