<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/hoteis.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav>
        <img src="../assets/img/Logo_Nav.png" alt="">
        <a href="hoteis.html">Inicio</a>
        <a href="">Servicios</a>
        <a href="">Contato/Sec</a>
        <img src="../assets/img/" alt="">
    </nav>

    <p class="text1">TEMOS A OPÇÃO PERFEITA PARA VOCÊ</p>
    <h1 class="hotel">HOTEIS</h1>
    <p class="sub-text">Seja para viagens de negócios ou lazer, nossas opções de 
        hospedagem são perfeitas para oferecer conforto, qualidade e 
        luxo.</p>

    <!-- Card -->
    <div class="card">
        <div class="card-image">
            <img src="../assets/img/Hotel_Pernambuco.png" alt="Descrição da Imagem">
        </div>
        <div class="card-content">
            <h3>Crystal Pernambuco</h3>
            <h2>Recife</h2>
            <p>O Crystal Palace Recife é um hotel de luxo que oferece conforto e tranquilidade, com suítes elegantes, restaurante gourmet, spa e piscina. Ideal para viagens de negócios ou lazer, proporciona uma estadia sofisticada e inesquecível.</p>
            
            <p>LOCALIZAÇÃO</p>
            <div class="rectangle"></div>
            
            <button>Quero ver mais detalhes</button>
        </div>
    </div>
    
</body>
</html>
