<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/hoteis.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <title>Hoteis</title>
</head>

<body>

    <%- include('partials/header') %>


        <div class="information">
            <p class="text1">TEMOS A OPÇÃO PERFEITA PARA VOCÊ</p>
            <h1 class="hotel">HOTEIS</h1>
            <p class="sub-text">Seja para viagens de negócios ou lazer, nossas opções de
                hospedagem são perfeitas para oferecer conforto, qualidade e
                luxo.</p>
        </div>


        <!-- Card -->
        <div class="card-container">

            <div class="card"> <!-- Recife -->
                <div class="card-image">
                    <img src="img/Hotel_Pernambuco.png" alt="Descrição da Imagem">
                </div>
                <div class="card-content">
                    <h3>Crystal Pernambuco</h3>
                    <h2>Recife</h2>
                    <p>O Crystal Palace Recife é um hotel de luxo que oferece conforto e tranquilidade, com suítes
                        elegantes, restaurante gourmet, spa e piscina. Ideal para viagens de negócios ou lazer,
                        proporciona
                        uma estadia sofisticada e inesquecível.</p>

                    <br>

                    <p>LOCALIZAÇÃO</p>
                    <div class="rectangle"><img src="img/icon/Icon_location.png" alt="">CENTRO, PERNAMBUCO</div>
                    <br><br>
                    <div class="info">
                        <span>Rua das Flores</span><span>0,2KM</span><span>1 min</span>
                    </div>

                    <div class="info">
                        <span>Rua Principal </span><span>0,6KM</span><span>6 min</span>
                    </div>

                    <br>

                    <a href="/detalhes"><button>Quero ver mais detalhes</button></a>
                </div>
            </div>


            <div class="card"> <!-- Belo Horizonte -->
                <div class="card-image">
                    <img src="img/Hotel_Pernambuco.png" alt="Descrição da Imagem">
                </div>
                <div class="card-content">
                    <h3>Crystal Minas Gerais</h3>
                    <h2>Belo Horizonte</h2>
                    <p>O Crystal Palace Minas Gerais em Belo Horizonte é um hotel de luxo que oferece conforto e
                        tranquilidade, com suítes elegantes, restaurante gourmet, spa e piscina. Ideal para viagens de
                        negócios ou lazer, proporciona uma estadia sofisticada e inesquecível.</p>

                    <br>

                    <p>LOCALIZAÇÃO</p>
                    <div class="rectangle"><img src="img/icon/Icon_location.png" alt="">CENTRO, BELO HORIZONTE</div>
                    <br><br>
                    <div class="info">
                        <span>Rua das Flores</span><span>0,2KM</span><span>1 min</span>
                    </div>

                    <div class="info">
                        <span>Rua Principal </span><span>0,6KM</span><span>6 min</span>
                    </div>

                    <br>

                    <a href="/detalhes"><button>Quero ver mais detalhes</button></a>
                </div>
            </div>

            <div class=" card"> <!-- Copacabana -->
                <div class="card-image">
                    <img src="img/Hotel_Pernambuco.png" alt="Descrição da Imagem">
                </div>
                <div class="card-content">
                    <h3>Crystal Rio de Janeiro</h3>
                    <h2>Copacabana</h2>
                    <p>O Crystal Palace Rio de Janeiro em Copacabana é um hotel de luxo que oferece conforto e
                        tranquilidade, com suítes elegantes, restaurante gourmet, spa e piscina. Ideal para
                        viagens de
                        negócios ou lazer, proporciona uma estadia sofisticada e inesquecível.</p>

                    <br>

                    <p>LOCALIZAÇÃO</p>
                    <div class="rectangle"><img src="img/icon/Icon_location.png" alt="">CENTRO, COPACABANA</div>
                    <br><br>
                    <div class="info">
                        <span>Rua das Flores</span><span>0,2KM</span><span>1 min</span>
                    </div>

                    <div class="info">
                        <span>Rua Principal </span><span>0,6KM</span><span>6 min</span>
                    </div>

                    <br>

                    <a href="/detalhes"><button>Quero ver mais detalhes</button></a>
                </div>
            </div>

        </div>

        <%- include('partials/footer') %>

</body>

<script src=" js/hoteis.js"></script>

</html>