<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/hoteis.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav>
        <img src="../assets/img/Logo_Nav.png" alt="">
        <a href="hoteis.html">Inicio</a>
        <a href="">Servicios</a>
        <a href="">Contato/Sec</a>
        <img src="../assets/img/" alt="">
    </nav>

    <p class="text1">TEMOS A OPÇÃO PERFEITA PARA VOCÊ</p>
    <h1 class="hotel">HOTEIS</h1>
    <p class="sub-text">Seja para viagens de negócios ou lazer, nossas opções de 
        hospedagem são perfeitas para oferecer conforto, qualidade e 
        luxo.</p>

    <!-- Card -->
    <div class="card">
        <div class="card-image">
            <img src="../assets/img/Hotel_Pernambuco.png" alt="Descrição da Imagem">
        </div>
        <div class="card-content">
            <h3>Crystal Pernambuco</h3>
            <h2>Recife</h2>
            <p>O Crystal Palace Recife é um hotel de luxo que oferece conforto e tranquilidade, com suítes elegantes, restaurante gourmet, spa e piscina. Ideal para viagens de negócios ou lazer, proporciona uma estadia sofisticada e inesquecível.</p>
            
            <br>

            <p>LOCALIZAÇÃO</p>
            <div class="rectangle"><img src="../assets/img/icon/Icon_location.png" alt="">CENTRO, PERNAMBUCO</div>
            <br><br>
            <div class="info">
                <span>Rua das Flores</span><span>0,2KM</span><span>1 min</span>
            </div>

            <div class="info">
                <span>Rua Principal </span><span>0,6KM</span><span>6 min</span>
            </div>
            
            <br>

            <button>Quero ver mais detalhes </button>
        </div>
    </div>

    <br>

    <footer class="rodape">
        <hr>
        
        <div class="secao_ajuda_suporte">
            <h2 class="title_secao_ajuda_suporte">AJUDA OU SUPORTE?</h2>
            <p class="text_central_reservas">CENTRAL DE RESERVAS (WHATSAPP)</p>
            <img src="../assets/img/icon/icon-whatsapp 1.png" class="icon_secao_ajuda_icon" alt="">
            <p class="tel_secao_ajuda_suporte">0800 000 000 2</p>
        </div>
        <div class="secao_ajuda_suporte">
            <div class="column_telefone">
                <h2 class="city_secao_ajuda_suporte">São Paulo</h2>
                <p class="tel_secao_ajuda_suporte">(00) 000 0000</p>
                <p class="horario_secao_ajuda_suporte">Seg. a Sex. das 7h às 19h</p>
                <p class="dias_secao_ajuda_suporte">Sábados e Feriados: 7h às 16h</p>
            </div>
            <div class="column_telefone">
                <h2 class="city_secao_ajuda_suporte">Rio de Janeiro</h2>
                <p class="tel_secao_ajuda_suporte">(21) 000 0000</p>
                <p class="horario_secao_ajuda_suporte">Seg. a Sex. das 9h às 17h</p>
                <p class="dias_secao_ajuda_suporte">Sábados e Feriados: 8h às 12h</p>
            </div>
            <div class="column_telefone">
                <h2 class="city_secao_ajuda_suporte">Belo Horizonte</h2>
                <p class="tel_secao_ajuda_suporte">(00) 000 0000</p>
                <p class="horario_secao_ajuda_suporte" >Seg. a Sex. das 9h às 17h</p>
                <p class="dias_secao_ajuda_suporte">Sábados e Feriados: 9h às 12h</p>
            </div>
            <div class="column_telefone">
                <h2 class="city_secao_ajuda_suporte">Curitiba</h2>
                <p class="tel_secao_ajuda_suporte">(00) 000 0000</p>
                <p class="horario_secao_ajuda_suporte">Seg. a Sex. das 8h às 17h</p>
                <p class="dias_secao_ajuda_suporte">Sábados e Feriados: 9h às 12h</p>
            </div>
            <div class="column_telefone">
                <h2>SAC</h2>
                <p class="tel_secao_ajuda_suporte">(00) 000 0000</p>
                <p class="horario_secao_ajuda_suporte">Seg. a Sex. das 7h às 17h</p>
                <p class="dias_secao_ajuda_suporte">Sábados e Feriados: 9h às 12h</p>
            </div>
            <div class="column_telefone">
                <h2 class="city_secao_ajuda_suporte">Porto Alegre</h2>
                <p class="tel_secao_ajuda_suporte">(00) 000 0000</p>
                <p class="horario_secao_ajuda_suporte">Seg. a Sex. das 8h às 17h</p>
                <p class="dias_secao_ajuda_suporte">Sábados e Feriados: 9h às 12h</p>
            </div>
        </div>
        <div class="secao_add">
            <div class="column_location">
                <h2 class="sede_add_nome">Sede Nacional</h2>
                <address class="endereços">
                    R. Carlos Sampaio, 339 - Bela Vista<br>
                    Paulista, São Paulo
                </address>
            </div>
            <div class="column_location">
                <h2 class="sede_add_nome">Sede Regional 2</h2>
                <address class="endereços">
                    Av. Padre Cacique, 1178 - Menino Deus<br>
                    Porto Alegre, Rio Grande do Sul
                </address>
            </div>
        </div>
        <div class="section_social_media">
            <h2>ACOMPANHE NOSSAS REDES SOCIAIS</h2>
            <a class="social_media_icon" href="#"><img src="../assets/img/icon/icon-instagram 1.png" alt="Instagram"></a>
            <a class="social_media_icon" href="#"><img src="../assets/img/icon/icon-facebook 1.png" alt="Facebook"></a>
            <a class="social_media_icon" href="#"><img src="../assets/img/icon/icon-linkedin 1.png" alt="LinkedIn"></a>
            <span class="social_media_link">@crystalpalace</span>
        </div>
        <div class="section quick-links">
            <h2>ATALHOS</h2>
            <a class="link_atalhos" href="#">INICIO</a>
            <a class="link_atalhos" href="#">HOTÉIS</a>
            <a class="link_atalhos" href="#">DESTINOS</a>
        </div>



        </div>
    </footer>
</body>
</html>
