<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/script.css">
    <title>Home</title>
</head>

<body>
    <nav class="navbar">
        <a href="index.html"><img src="../assets/img/Logo_Nav.png" alt="logo-do-hotel" class="logo_navbar"></a>
        <a href="hoteis.html" class="links_nav">Hotéis</a>
        <a href="destinos.html" class="links_nav">Destinos</a>
        <a href="" class="links_nav">Contato/Sac</a>
        <a href="login.html"><img src="../assets/img/icon/Icon_Login 1.png" alt="icone_login"
                class="icon_login_nav"></a>
    </nav>
    <section id="conteudo_Principal">
        <h2 class="titulo_conteudo_Principal">
            Descubra o luxo e o conforto que você merece
        </h2>

        <div class="campo_de_busca_conteudo_Principal">
            <p class="texto_campo_de_busca">
                Seu refúgio perfeito, onde cada detalhe importa, apenas a um click de distancia
            </p>
            <img src="../assets/img/icon/icon-destino 1.png" alt="icone_de_afinete_de_localizacao"
                class="icone_campo_de_busca">
            <p class="texto_perguta_campo_de_busca">Qual é seu destino?</p>

            <img src="../assets/img/icon/icon-calendar 1.png" alt="icone_de_afinete_de_localizacao"
                class="icone_campo_de_busca">
            <p class="texto_perguta_campo_de_busca">Qual Período?</p>

            <img src="../assets/img/icon/icon-peoples 1.png" alt="icone_de_afinete_de_localizacao"
                class="icone_campo_de_busca">
            <p class="texto_perguta_campo_de_busca">Quantas Pessoas?</p>

            <button class="botao_campo_de_busca"> Buscar <img src="../assets/img/icon/icon-lupa 1.png" alt=""
                    class="icone_botão_campo_de_busca">
            </button>
        </div>
    </section>

    <section class="conteudo_informativo">
        <h2 class="titulo_conteudo_informativo">
            Experiências, Diversão<br>
            & Luxo
        </h2>

        <p class="paragrafro_conteudo_informativo">A rede Crystal representa hospitalidade excepcional, oferecendo
            hotéis, resorts e experiências de alto padrão, <span> com um compromisso firme com o
                profissionalismo.</span></p>

        <button class="botão_conteudo_informativo"> Conheça os Hotéis</button>

        <div class="container_amarelo">
            <h6 class="paragrafo_container_amarelo">Estamos presentes onde você estiver.</h6>
            <h2 class="titulo_container_amarelo">Conheça os nossos destinos</h2>

            <p class="paragrafo_legenda_titulo_container_amarelo">Independente do destino, a Crystal oferece as melhores opções
                de estadia para você aproveitar ao máximo sua experiência. </p>
        </div>
    </section>

</body>

</html>                   