<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/script.css">
    <title>Home</title>
</head>

<body>
    <nav class="navbar">
        <a href="index.html"><img src="../assets/img/Logo_Nav.png" alt="logo-do-hotel" class="logo_navbar"></a>
        <a href="hoteis.html" class="links_nav">Hotéis</a>
        <a href="destinos.html" class="links_nav">Destinos</a>
        <a href="" class="links_nav">Contato/Sac</a>
        <a href="login.html"><img src="../assets/img/icon/Icon_Login 1.png" alt="icone_login"
                class="icon_login_nav"></a>
    </nav>
    <section id="conteudo_Principal">
        <h2 class="titulo_conteudo_Principal">
            Descubra o luxo e o conforto que você merece
        </h2>

        <div class="campo_de_busca_conteudo_Principal">
            <p class="texto_campo_de_busca">
                Seu refúgio perfeito, onde cada detalhe importa, apenas a um click de distancia
            </p>
            <img src="../assets/img/icon/icon-destino 1.png" alt="icone_de_afinete_de_localizacao"
                class="icone_campo_de_busca">
            <p class="texto_perguta_campo_de_busca">Qual é seu destino?</p>

            <img src="../assets/img/icon/icon-calendar 1.png" alt="icone_de_afinete_de_localizacao"
                class="icone_campo_de_busca">
            <p class="texto_perguta_campo_de_busca">Qual Período?</p>

            <img src="../assets/img/icon/icon-peoples 1.png" alt="icone_de_afinete_de_localizacao"
                class="icone_campo_de_busca">
            <p class="texto_perguta_campo_de_busca">Quantas Pessoas?</p>

            <button class="botao_campo_de_busca"> Buscar <img src="../assets/img/icon/icon-lupa 1.png" alt=""
                    class="icone_botão_campo_de_busca">
            </button>
        </div>
    </section>

    <section class="conteudo_informativo">
        <h2 class="titulo_conteudo_informativo">
            Experiências, Diversão<br>
            & Luxo
        </h2>

        <p class="paragrafro_conteudo_informativo">A rede Crystal representa hospitalidade excepcional, oferecendo
            hotéis, resorts e experiências de alto padrão, <span> com um compromisso firme com o
                profissionalismo.</span></p>

        <button class="botão_conteudo_informativo"> Conheça os Hotéis</button>

        <div class="container_amarelo">
            <h6 class="paragrafo_container_amarelo">Estamos presentes onde você estiver.</h6>
            <h2 class="titulo_container_amarelo">Conheça os nossos destinos</h2>

            <p class="paragrafo_legenda_titulo_container_amarelo">Independente do destino, a Crystal oferece as melhores
                opções
                de estadia para você aproveitar ao máximo sua experiência. </p>
        </div>

        <div class="hoteis_conteudo_informativo">
            <div class="Hotel_Rj">
                <img src="../assets/img/Img_Rio_de_Janeiro.png" alt="">
                <h3 class="titulo_card_hotel">Rio de Janeiro</h3>
                <p class="quantidade_hotel">Hotéis: 3</p>
            </div>


            <div class="Hotel_Bh">
                <img src="../assets/img/Img_Belo_Horizonte.png" alt="">
                <h3 class="titulo_card_hotel">Belo Horizonte</h3>
                <p class="quantidade_hotel">Hotéis: 1</p>
            </div>

            <div class="Hotel_Pb">
                <img src="../assets/img/Img_Pernambuco.png" alt="">
                <h3 class="titulo_card_hotel">Pernambuco</h3>
                <p class="quantidade_hotel">Hotéis: 2</p>
            </div>
        </div>

    </section>

    <section class="area_promocoes">
        <h1 class="title_area_promocoes">PROMOÇÕES</h1>
        <p class="subtitulo_area_promocoes">A rede Crystal oferece promoções irresistíveis em destinos e estadias
            selecionadas,
            garantindo experiências memoráveis a preços especiais.</p>

        <div class="card_area_promocao_um">

        </div>

        <div class="card_area_promocao_dois">

        </div>
    </section>

    <footer class="rodape">
        <div class="linha_divisao">

        </div>

        <div class="secao_ajuda_suporte">
            <h2 class="title_secao_ajuda_suporte">AJUDA OU SUPORTE?</h2>
            <p class="text_central_reservas">CENTRAL DE RESERVAS (WHATSAPP)</p>
            <img src="../assets/img/icon/icon-whatsapp 1.png" class="icon_secao_ajuda_icon" alt="">
            <p class="tel_secao_ajuda_suporte">0800 000 000 2</p>
        </div>
        <div class="secao_ajuda_suporte">
            <div class="column_telefone">
                <h2 class="city_secao_ajuda_suporte">São Paulo</h2>
                <p class="tel_secao_ajuda_suporte">(00) 000 0000</p>
                <p class="horario_secao_ajuda_suporte">Seg. a Sex. das 7h às 19h</p>
                <p class="dias_secao_ajuda_suporte">Sábados e Feriados: 7h às 16h</p>
            </div>
            <div class="column_telefone">
                <h2 class="city_secao_ajuda_suporte">Rio de Janeiro</h2>
                <p class="tel_secao_ajuda_suporte">(21) 000 0000</p>
                <p class="horario_secao_ajuda_suporte">Seg. a Sex. das 9h às 17h</p>
                <p class="dias_secao_ajuda_suporte">Sábados e Feriados: 8h às 12h</p>
            </div>
            <div class="column_telefone">
                <h2 class="city_secao_ajuda_suporte">Belo Horizonte</h2>
                <p class="tel_secao_ajuda_suporte">(00) 000 0000</p>
                <p class="horario_secao_ajuda_suporte" >Seg. a Sex. das 9h às 17h</p>
                <p class="dias_secao_ajuda_suporte">Sábados e Feriados: 9h às 12h</p>
            </div>
            <div class="column_telefone">
                <h2 class="city_secao_ajuda_suporte">Curitiba</h2>
                <p class="tel_secao_ajuda_suporte">(00) 000 0000</p>
                <p class="horario_secao_ajuda_suporte">Seg. a Sex. das 8h às 17h</p>
                <p class="dias_secao_ajuda_suporte">Sábados e Feriados: 9h às 12h</p>
            </div>
            <div class="column_telefone">
                <h2>SAC</h2>
                <p class="tel_secao_ajuda_suporte">(00) 000 0000</p>
                <p class="horario_secao_ajuda_suporte">Seg. a Sex. das 7h às 17h</p>
                <p class="dias_secao_ajuda_suporte">Sábados e Feriados: 9h às 12h</p>
            </div>
            <div class="column_telefone">
                <h2 class="city_secao_ajuda_suporte">Porto Alegre</h2>
                <p class="tel_secao_ajuda_suporte">(00) 000 0000</p>
                <p class="horario_secao_ajuda_suporte">Seg. a Sex. das 8h às 17h</p>
                <p class="dias_secao_ajuda_suporte">Sábados e Feriados: 9h às 12h</p>
            </div>
        </div>
        <div class="secao_add">
            <div class="column_location">
                <h2 class="sede_add_nome">Sede Nacional</h2>
                <address class="endereços">
                    R. Carlos Sampaio, 339 - Bela Vista<br>
                    Paulista, São Paulo
                </address>
            </div>
            <div class="column_location">
                <h2 class="sede_add_nome">Sede Regional 2</h2>
                <address class="endereços">
                    Av. Padre Cacique, 1178 - Menino Deus<br>
                    Porto Alegre, Rio Grande do Sul
                </address>
            </div>
        </div>
        <div class="section_social_media">
            <h2>ACOMPANHE NOSSAS REDES SOCIAIS</h2>
            <a class="social_media_icon" href="#"><img src="../assets/img/icon/icon-instagram 1.png" alt="Instagram"></a>
            <a class="social_media_icon" href="#"><img src="../assets/img/icon/icon-facebook 1.png" alt="Facebook"></a>
            <a class="social_media_icon" href="#"><img src="../assets/img/icon/icon-linkedin 1.png" alt="LinkedIn"></a>
            <span class="social_media_link">@crystalpalace</span>
        </div>
        <div class="section quick-links">
            <h2>ATALHOS</h2>
            <a class="link_atalhos" href="#">INICIO</a>
            <a class="link_atalhos" href="#">HOTÉIS</a>
            <a class="link_atalhos" href="#">DESTINOS</a>
        </div>



        </div>
    </footer>

</body>

</html>