<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/login.css">

  <title>Login</title>
</head>

<body>

  <img src="../assets/img/logo-rodapé.png" alt="" class="logo">

  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="login">
      <form class="form">

        <label class="login_text" for="chk" aria-hidden="true">Log in</label>



        <input class="input" type="email" name="email" placeholder="Email" required="">
        <input class="input" type="password" name="pswd" placeholder="Senha" required="">
        <button id="login">Log in</button>
      </form>
    </div>

    <div class="register">
      <form class="form">
        <label for="chk" aria-hidden="true">Register</label>
        <div class="profile-pic">
          <label class="-label" for="file"></label>
          <input id="file" type="file" onchange="loadFile(event)" />
          <img src="../assets/img/icon/—Pngtree—avatar icon profile icon member_5247852.png" id="output" width="200" />
        </div>


        <input class="input" type="name" name="name" placeholder="Name" required="">
        <input class="input" type="email" name="email" placeholder="Email" required="">
        <input class="input" type="password" name="pswd" placeholder="Password" required="">

        <button class="register-button" id='register'>Register</button>
      </form>
    </div>
  </div>
</body>

<script src="../assets/js/login.js"></script>
<script src="../assets/js/profile.js"></script>
<script src="../assets/js/login.js"></script>

</html>