<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/perfil.css">

    <title>Seu Perfil</title>
</head>
<body>

    <%- include('partials/header') %>

        <div class="profile-pic">
            <label class="-label" for="file"></label>
            <input id="file" type="file" onchange="loadFile(event)"/>
            <img src="img/icon/Icon_Login 1.png" id="output" width="200" />
        </div>

        <h3 class="info_name">Name</h3>
        <h1 class="name">Jorge J.J Jangerson</h1>
                <input class="input" type="email" name="email" placeholder="Email" required="">
                <input class="input" type="password" name="password" placeholder="Password" required="">
    
                <div class="options">
                    <button class="redefine">Redefinir Senha</button>
                    <button class="edit">Editar Perfil</button>
                    <button class="delete">Deletar Perfil</button>
                </div>
      
    <script src="js/profile.js"></script>
</body>
</html>