<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/reserva.css">
    <title>Reserva</title>
</head>

<body>
    <nav class="navbar">
        <div class="logo_nav">
            <a href="index.html"><img src="../assets/img/Logo_Nav.png" alt=""></a>
        </div>
        <div class="links_container">
            <a href="hoteis.html" class="links_nav">Hotéis</a>
            <a href="destinos.html" class="links_nav">Destinos</a>
            <a href="contato.html" class="links_nav">Contato/Sac</a>
            <a href="login.html"><img src="../assets/img/icon/Icon_Login 1.png" alt="icone_login"
                    class="icon_login_nav"></a>
        </div>
    </nav>

    <main>
        <section class="trip-details">
            <h2>Sua viagem</h2>


            <p><b>Datas</b></p>
            <p>06 - 10 de dez.</p>
            <p><b>Qntd pessoas</b></p>
            <p>3</p>
            <p><b>Unidade</b></p>
            <p>Barra da Tijuca, RJ</p>
            <p><b>Valor</b></p>
            <p>R$850,50</p>
            <button class="voltar" type="submit"><a href="index.ejs">Escolher outro pacote</a></button>

        </section>

        <section class="contractor-info">
            <h2>Informações do contratante</h2>
            <form action="#">
                <input type="text" id="name" name="name" placeholder="Nome do contratente">
                <input type="text" id="birthdate" name="birthdate" class="phone-input" placeholder="Número de telefone" pattern="[0-9]{2}-[0-9]{5}-[0-9]{4}" title="Formato: xx-xxxxx-xxxx">
                <input type="text" id="cpf" name="cpf" placeholder="CPF">

                <p class="notice">* Menores de idade devem estar acompanhados por pelo menos um responsável legal
                    durante toda a estadia.</p>
                <p class="notice">* Os demais hóspedes, além do contratante do quarto, devem se cadastrar na entrada do
                    hotel, apresentando um documento de identidade oficial com foto.</p>

                <button class="continuar" type="submit"><a class="continuar" href="confirmacao.html">Confirmar estádia</a></button>
            </form>
        </section>
    </main>
    </div>

</body>

</html>