<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reserva.css">
    <title>Reserva</title>
</head>

<body>
   
    <%- include('partials/header') %>
    

    <main>
        <section class="trip-details">
            <h2>Sua viagem</h2>
    
            <!-- Exibir as informações recebidas -->
            <div class="info"  id="quarto-info"></div>
            <div class="info" id="camas-info"></div>
            <div class="info" id="preco-info"></div>
            
            <!-- Botão para voltar e escolher outro pacote -->
            <button class="voltar" type="button" onclick="window.location.href='/hoteis'">Escolher outro pacote</button>
        </section>
    
        <section class="contractor-info">
            <h2>Informações do contratante</h2>
            <!-- Formulário para informações do contratante -->
            <form action="/confirmacao" method="POST">
                <input type="text" id="name" name="name" placeholder="Nome do contratante" required="">
                <input type="text" id="phone" name="phone" class="phone-input" placeholder="Número de telefone" required="">
                <input type="text" id="cpf" name="cpf" placeholder="CPF" required="">
    
                <p class="notice">* Menores de idade devem estar acompanhados por pelo menos um responsável legal durante toda a estadia.</p>
                <p class="notice">* Os demais hóspedes, além do contratante do quarto, devem se cadastrar na entrada do hotel, apresentando um documento de identidade oficial com foto.</p>
                <p class="notice">* Pagamentos devem ser realizados no check-in</p>
    
                <!-- Botão para confirmar reserva -->
                <button type="submit" class="confirmar">Confirmar Reserva</button>
            </form>
        </section>
    </main>

</body> <!--pattern="[0-9]{2}-[0-9]{5}-[0-9]{4}" title="Formato: xx-xxxxx-xxxx" -->
    <script src="js/reserva.js"></script>
</body>
</html>
