<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/configuração.css">
    <title>Redefinir Senha</title>
</head>
<body>
  <main class="main">

  
    <div class="register">
      <form class="form">
          <h1>Redefinir Senha</h1>
          <br>
        <input class="input" type="password" name="Senha" placeholder="Insira sua senha" required="">
        <input class="input" type="text" name="token" placeholder="Token" required="">

        <button class="register-button">Redefinir</button>
      </form>
    </div>
  </div>
</main>
</body>
</html>

