<footer class="rodape">
    <img class="logo_rodape" src="/img/logo-rodapé.png" alt="">

    <hr>
    <div class="left-selction">
        <div class="support">
            <div class="support_categoria">
                <p class="text_support_categoria">AJUDA OU SUPORTE?</p>
            </div>
            <p class="central-reservas">CENTRAL DE RESERVAS (WHATSAPP)</p>

            <p class="phone-number"> <img src="/img/icon/icon-whatsapp 1.png" alt=""class="icon_whats">0800 000 000 2</p>
        </div>
    </div>
    <br>
    <br>

    <div class="locations">
        <div class="column">
            <div class="location">
                <p class="city">São Paulo</p>
                <p class="details">(00) 000 0000</p>
                <p class="details">Seg. a Sex. das 7h às 19h</p>
                <p class="details">Sábados e Feriados: 7h às 16h</p>
            </div>
            <div class="location">
                <p class="city">Rio de Janeiro</p>
                <p class="details">(21) 000 0000</p>
                <p class="details">Seg. a Sex. das 9h às 17h</p>
                <p class="details">Sábados e Feriados: 8h às 12h</p>
            </div>
            <div class="location">
                <p class="city">Belo Horizonte</p>
                <p class="details">(00) 000 0000</p>
                <p class="details">Seg. a Sex. das 7h às 17h</p>
                <p class="details">Sábados e Feriados: 9h às 12h</p>
            </div>
        </div>

        <div class="column">
            <div class="location">
                <p class="city">SAC</p>
                <p class="details">(00) 000 0000</p>
                <p class="details">Seg. a Sex. das 7h às 17h</p>
                <p class="details">Sábados e Feriados: 9h às 12h</p>
            </div>
            <div class="location">
                <p class="city">Porto Alegre</p>
                <p class="details">(00) 000 0000</p>
                <p class="details">Seg. a Sex. das 8h às 17h</p>
                <p class="details">Sábados e Feriados: 9h às 12h</p>
            </div>
            <div class="location">
                <p class="city">Curitiba</p>
                <p class="details">(00) 000 0000</p>
                <p class="details">Seg. a Sex. das 8h às 17h</p>
                <p class="details">Sábados e Feriados: 9h às 12h</p>
            </div>
        </div>

        <div class="column">
            <div class="location">
                <p class="city">Sede Nacional</p>
                <p class="details">R. Carlos Sampaio, 339 - Bela Vista</p>
                <p class="details">Paulista, São Paulo</p>
            </div>
            <div class="location">
                <p class="city">Sede Regional 2</p>
                <p class="details">Av. Padre Cacique, 1178 - Menino Deus</p>
                <p class="details">Porto Alegre, Rio Grande do Sul</p>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="social-media">
        <button class="social-media-button">ACOMPANHE NOSSAS REDES SOCIAIS</button>
        <div class="social-icons">
            <img src="/img/icon/icon-instagram 1.png" alt="Instagram">
            <img src="/img/icon/icon-facebook 1.png" alt="Facebook">
            <img src="/img/icon/icon-linkedin 1.png" alt="LinkedIn">
            <span class="site">@crystalpalace</span>
        </div>
    </div>
    <div class="shortcuts">
        <button class="shortcuts-button">ATALHOS</button>
        <div class="links">
            <a href="index">INICIO</a>
            <a href="hoteis">HOTÉIS</a>
            <a href="detalhes">DETALHES</a>
        </div>
    </div>

    <br>
    <br>

</footer>