<%- 

<nav class="navbar">
    <div class="logo_nav">
        <a href="index"><img src="/img/Logo_Nav.png" alt=""></a>
    </div>
    <div class="links_container">
        <a href="hoteis" class="links_nav">Hotéis</a>
        <a href="detalhes" class="links_nav">Detalhes</a>
        <a href="/" class="links_nav">Contato/Sac</a>
        <a href="login"><img src="/img/icon/Icon_Login 1.png" alt="icone_login"
                class="icon_login_nav"></a>
    </div>
</nav>

%>